/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-white-bg: #ffffff;
    --color-black: #23272a;
    --color-bg: #f6f6f6;
    --color-header-bg: #2a5ee8;
    --color-violet: #7289da;
}

.debug{
    border: 1px solid black;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

section{
    padding: 60px 0;
}

.grey-section{
    background-color: var(--color-bg);
}

.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* Header */

header{
    background-color: var(--color-header-bg);

}


/* Main */


/* Footer */

footer{
    background-color: var(--color-black);
    color: white;
}