/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-white-bg: #ffffff;
    --color-black: #23272a;
    --color-bg: #f6f6f6;
    --color-header-bg: #2a5ee8;
    --color-violet: #7289da;
}

.debug{
    border: 1px solid black;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

section{
    padding: 60px 0;
}

.grey-section{
    background-color: var(--color-bg);
}

.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

ul{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 10px 10px;
}

.hero-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

.button-white{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

.button-black{
    color: white;
    background-color: var(--color-black);
    border-radius: 20px;
    padding: 5px;
}

/* Header */

header{
    background-color: var(--color-header-bg);

}

#hero{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 710px;
}

.hero-container{
    max-width: 600px;
}

h1{
    text-align: center;
    margin-bottom: 60px;
    color: white;
}
.p-header{
    text-align: center;
    color: white;
}

/* Main */


/* Footer */

footer{
    background-color: var(--color-black);
    color: white;
}